<!DOCTYPE html>
<head>
    <title>Data Analysis</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="center-container">
        <h1>Data Analysis</h1>
        <p>Select the dataset you would like to visualize from the dropdown below.</p>
        <form action="/redirect" method="post">
            <select name="answer">
                <option value="Sunspot Data">Sunspot Data</option>
                <option value="Nile Data">Nile Data</option>
                <option value="Qubit Data">Qubit Data</option>
            </select>
            <button type="submit">Go</button>
        </form>
    </div>

    <div class="center-container">
        <h2>Time Series Metrics</h2>
        <button onclick="fetchMetrics()">Load Metrics</button>
        <div id="metrics-output"></div>
    </div>
    
    <script>
        function fetchMetrics() {
            fetch('/metrics')
                .then(response => response.json())
                .then(data => {
                    let output = "<h3>Time Series Data</h3><ul>";
    
                    for (let key in data) {
                        let values = data[key];
                        output += `<li><strong>${key}:</strong> Sunspot = ${values.Sunspot}, Nile = ${values.Nile}</li>, Qubit = ${values.Qubit}</li> `;
                    }
    
                    output += "</ul>";
                    document.getElementById('metrics-output').innerHTML = output;
                })
        }
    </script>
    
</body>
</html>